* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
}

canvas {
    height: 75%;
    aspect-ratio: 3 / 2;
    border: 1px dashed rgb(255, 255, 255);
}